body{
  color: rgb(230, 77, 103);
   text-align: center;
   font-size: xx-large;
   font-family: 'Times New Roman', Times, serif
}

 

       .centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blanchedalmond
}
body, html {
  height: 100%;
}

.bg {

  background-image: url("himi.jpg");

/*   
  height: 150%;

  
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover; */
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
